* {
    box-sizing: border-box;
}
.navbar {
    background-color:rgb(180, 223, 203) ;
}
.navbar-brand {
    font-size: x-large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.menutitle {
   color: indianred;
   margin-bottom: 30px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.content1 {
    font-size: x-large;
    background-color: rgb(180, 223, 203);
    margin-bottom: auto;
    padding: 2%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.content {
    background-color: rgb(180, 223, 203);
    font-style: italic;
}
